body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: 100dvh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#board-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    display: inline-block;
}

#board-image {
    width: 100%;
    display: block;
}

.pawn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    transition: top 0.5s ease-in-out, left 0.5s ease-in-out;
    transform: translate(-50%, -50%);
    /* Centraliza o pino na coordenada */
    z-index: 10;
}

/*-------------------------------------------PAINEL DE DEBUG-------------------------------------------*/
/* Botão flutuante no canto da tela */
.debug-btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
    z-index: 1000;
    /* Garante que fique acima de tudo */
    cursor: pointer;
}

/* O Painel */
.painel-debug {
    position: fixed;
    bottom: 50px;
    right: 10px;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 15px;
    border-radius: 8px;
    width: 200px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: monospace;
}

.debug-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.debug-actions {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}