main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 3rem;
    
}

h1 {
    font-size: 3rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 1px solid black;
    padding: 2rem;
    border-radius: 10px;
}

section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.upload-container {
    background-color: #f8f9fa;
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 300px;
    margin: 0 auto;
}

.upload-container:hover {
    border-color: #666;
    background-color: #eee;
}

.upload-container.drag-active {
    background-color: #e9f5ff;
    border-color: #2196f3;
    transform: scale(1.02);
}

.icon {
    font-size: 40px;
    display: block;
    margin-bottom: 10px;
}

.file-name {
    margin-top: 15px;
    font-size: 0.9em;
    color: #2196f3;
    font-weight: bold;
}

#btnSend {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btnSend:hover {
    background-color: #1976d2;
}


a {
    text-decoration: none;
    color: var(--text-primary-color);
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--text-secondary-color);
}