:root {
    --font-family: 'Arial, sans-serif';
    --text-primary-color: #000000;
    --text-secondary-color: #026bf5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

.hidden {
    display: none !important;
}

.blur {
    filter: blur(5px);
    pointer-events: none;
    /* Desativa interações com o conteúdo borrado */
}