.playersConfigMenu {
    position: absolute;
    background-color: white;
    border: 2px solid #000;
    padding: 2rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.playersConfigMenu h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--text-primary-color);
}

.playersConfigMenu p {
    font-size: 1.2rem;
    color: var(--text-primary-color);
    font-weight: bold;
}

.radio-group {
    display: flex;
    gap: 1rem;
}

.radio-group input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-group label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    color: #555;
    transition: all 0.2s ease;
}

.radio-group label:hover {
    background-color: #e0e0e0;
    transform: translateY(-2px);
}

.radio-group input[type="radio"]:checked+label {
    background-color: var(--text-secondary-color);
    border-color: var(--text-secondary-color);
    color: white;
    transform: scale(1.1);
    box-shadow: 0 4px 10px #026bf566;
}

.radio-group input[type="radio"]:focus+label {
    outline: 2px solid #000;
    outline-offset: 2px;
}

#playersInput {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

#playersInput div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#btnSavePlayers {
    width: 50%;
    align-self: center;
    padding: 0.75rem;
    background-color: var(--text-secondary-color);
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;

    font-weight: bold;
    transition: background-color 0.2s ease;
}

#btnSavePlayers:hover {
    background-color: #0256c0;
}