.quizPopUp {
    position: absolute;
    background-color: white;
    border: 2px solid #000;
    padding: 2rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.oculto {
    background-color: black;
}